<launch>
  <arg name="global_planner_rate"   default="10" />
  <arg name="namespace"             default="$(env UAV_NAMESPACE)" />
  <arg name="octomap_binary"        default="octomap_binary" />
  <arg name="config_file"           default="$(find icuas23_competition)/config/global_planner.yaml" />
  <arg name="frame_id"              default="world" />

  <!-- Global planner for the UAV -->
  <node name="global_planner" pkg="larics_motion_planning" type="global_planner_node" output="screen" ns="$(arg namespace)"
    launch-prefix="">
    <param name="rate"                        value="$(arg global_planner_rate)" />
    <param name="global_planner_config_file"  value="$(arg config_file)" />
    <param name="state_scale"                 value="0.05" />
    <param name="waypoints_scale"             value="0.5" />
    <param name="frame_id"                    value="$(arg frame_id)" />

    <remap from="octomap_binary" to="$(arg octomap_binary)" />
  </node>

</launch>
